@import url("https://fonts.googleapis.com/css2?family=Oxanium&family=Proza+Libre:wght@400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #0466c8;
  color: rgb(255, 255, 255);

  /* font-family: "Oxanium", cursive; */
  font-family: "Proza Libre", sans-serif !important;
  font-style: normal;
}
